# Virtual environment
venv/

# Python caches
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/

# Project outputs
ou_simulation/data/
ou_simulation/results/

# VS Code workspace settings
.vscode/
